.heading {
  padding: 1em;
  background-color: rgba(207, 8, 8, 0.185);
  font-weight: bolder;
}

.heading h1 {
  text-align: center;
  color: brown;
}

.heading h4 {
  text-align: center;
  color: blueviolet;
}

.size p {
  margin-left: 12%;
  font-weight: 900;
  font-size: 18;
}

.size img {
  width: 30%;
  height: auto;
  margin-left: 12%;
}

.size form {
  float: right;
  padding: 2%;
  margin-right: 5%;
  font-weight: bolder;
}

.crust p {
  margin-left: 12%;
  font-weight: 900;
  font-size: 18;
}

.crust img {
  width: 30%;
  height: auto;
  margin-left: 12%;
}

.crust form {
  float: right;
  padding: 2%;
  margin-right: 5%;
  font-weight: bolder;
}

.top p {
  margin-left: 12%;
  font-weight: 900;
  font-size: 18;
}

.top img {
  width: 30%;
  height: auto;
  margin-left: 12%;
  margin-bottom: 2%;
}

.top form {
  float: right;
  padding: 1%;
  margin-right: 5%;
  font-weight: bolder;
}

.amount form {
  margin-left: 2%;
  font-weight: 900;
  font-size: 18;
  padding: 2px;
  margin-left: 12%;
}

input[type="button"] {
  background-color: brown;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border: 1px solid rgb(9, 42, 190);
}


#total {
  display: none;
  background-color: burlywood;
}

#total p {
  margin-left: 12%;
  font-weight: 900;
  font-size: 18;
}

#total form {
  margin-left: 10%;
  font-weight: bolder;
}

input[type="integer"],
select {
  width: 30%;
  padding: 15px;
  margin: 8px;
  border: 1px solid rgb(190, 9, 99);
}

input[type="text"],
select {
  width: 30%;
  padding: 15px;
  margin: 8px;
  border: 1px solid rgb(190, 9, 93);
}

.footer {
  padding: 1em;
  background-color: brown;
  color: beige;
  text-align: center;
  font-weight: bolder;
}

#total h3 {
  color: blueviolet;
  margin-left: 10%;
  padding-top: 5%;
}
