.heading h1 {
  text-align: center;
  color: brown;
}

.heading h4 {
  text-align: center;
  color: blueviolet;
}

.size p {
  margin-left: 12%;
  font-weight: 900;
  font-size: 18;
}

.size img {
  width: 30%;
  height: auto;
  margin-left: 12%;
}

.size form {
  float: right;
  padding: 5%;
  margin-right: 25%;
  font-weight: bolder;
}

.crust p {
  margin-left: 12%;
  font-weight: 900;
  font-size: 18;
}

.crust img {
  width: 30%;
  height: auto;
  margin-left: 12%;
}

.crust form {
  float: right;
  padding: 5%;
  margin-right: 25%;
  font-weight: bolder;
}

.top p {
  margin-left: 12%;
  font-weight: 900;
  font-size: 18;
}

.top img {
  width: 30%;
  height: auto;
  margin-left: 12%;
}

.top form {
  float: right;
  padding: 5%;
  margin-right: 25%;
  font-weight: bolder;
}

.amount form {
  margin-left: 12%;
  font-weight: 900;
  font-size: 18;
  padding: 5px;
}

input[type="button"] {
  background-color: brown;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border: 1px solid rgb(9, 42, 190);
}


#total {
  display: none;
}

#total p {
  margin-left: 12%;
  font-weight: 900;
  font-size: 18;
}

#total form {
  float: right;
  padding: 5%;
  margin-right: 25%;
  font-weight: bolder;
}

input[type="integer"],
select {
  width: 50%;
  padding: 15px;
  margin: 8px;
  border: 1px solid brown);
}

input[type="text"],
select {
  width: 50%;
  padding: 15px;
  margin: 8px;
  border: 1px solid brown);
}